[submodule "external/rapidjson"]
	path = external/rapidjson
	url = git://github.com/naos-project/rapidjson
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = git://github.com/naos-project/miniupnp
[submodule "external/unbound"]
	path = external/unbound
	url = git://github.com/naos-project/unbound
